<div class="container">
  <h1>Check History of Person</h1>  
  <div class="container">
    <table [hidden]="tableBool" class="table table-striped border">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Timestamp</th>
          <th>Hash</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of history">
          <td>{{entry.Value.name}}</td>
          <td>{{entry.Value.transitStatus}}</td>
          <td>{{entry.Timestamp}}</td>
          <td>{{entry.Id}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  <form>
    <div>
      <label for="id">Id: </label><br>
      <input class="form-control" type="text" #id>
    </div>
  </form>
  <button class="btn btn-success btn-margin" (click)="checkHistory(id.value)">Check History</button>
</div>



<div class="container">
    <h1>Get All History</h1>  
    <div class="container" style="padding: 10px">
        <table class="table table-striped border" [hidden]='tableBool2'>
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Timestamp</th>
              <th>Id</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of multHistory">
              <td>{{entry.Value.name}}</td>
              <td>{{entry.Value.transitStatus}}</td>
              <td>{{entry.Timestamp}}</td>
              <td>{{entry.Id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <button class="btn btn-success btn-margin" (click)="checkAllHistory()">Check All History</button>
</div>